# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
*.dylib

# C extensions / build cache
.cache/
build/
dist/
*.egg-info/

# Pytest / coverage
.pytest_cache/
.coverage
.tmp/

# OS
.DS_Store
*/.DS_Store
